// Clients.less

.logo-list {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    transition: transform 30s linear; /* Tempo longo para uma animação contínua */
  }
  
  .logo-item {
    margin-right: 1rem; /* Espaçamento entre os logos */
  }
  
  .logo-img {
    height: 64px; /* Altura fixa para todas as imagens */
    width: auto; /* Largura automática para se adaptar ao tamanho natural do logo */
  }
  