// Fonts
@font-family-primary: 'Poppins', sans-serif;
@font-family-secondary: 'Open Sans', sans-serif;

// Mixin for responsive fonts

body {
    line-height: 1.6;
    color: @fontColor;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: @font-family-primary;
    .titleColor();
  }